img {
  width: 200px;
  height: auto;
}

.koala, .beluga, .robin {
  display: none;
}

.centered {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-sizing: border-box;
}

.description {
  float: right;
}